<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  

      <ion-accordion-group>
            <ion-accordion value="first">
              <ion-item slot="header" color="light">
                <b><ion-label>Programacion web sección 001D</ion-label></b>
              </ion-item>
              <div class="ion-padding" slot="content">Lunes 2 de agosto: Presente</div>
              <div class="ion-padding" slot="content">Martes 3 de agosto: Presente</div>
              <div class="ion-padding" slot="content">Lunes 8 de agosto: Presente</div>
            </ion-accordion>
            <ion-accordion value="second">
              <ion-item slot="header" color="light">
                  <b><ion-label>Programacion web sección 002D</ion-label></b>
              </ion-item>
              <div class="ion-padding" slot="content">Lunes 2 de agosto: Presente</div>
            </ion-accordion>
            <ion-accordion value="third">
              <ion-item slot="header" color="light">
                  <b><ion-label>Programacion web sección 005D</ion-label></b>
              </ion-item>
              <div class="ion-padding" slot="content">Martes 3 de agosto: Presente</div>
            </ion-accordion>
          </ion-accordion-group>
    
  
</ion-content>
