.profile-card {
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto;
  }
  
  .profile-avatar {
    width: 150px; /* Ajusta el tamaño de la imagen según tus preferencias */
    height: 150px;
    margin: auto;
  }
  