<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="--background: url('/assets/img/profilefondo.jpg') no-repeat center center / cover;">
  <ion-card *ngIf="userData" class="profile-card" >
    <ion-card-header >
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center" >
      <ion-avatar class="profile-avatar">
        <img src="assets/img/user.png" alt="Foto de perfil">
      </ion-avatar>
      <ion-list >
        <ion-item >
          <ion-label>Nombre:</ion-label>
          <ion-note style="color: white; font-weight: bold;">{{ usuario }}</ion-note>
        </ion-item>
        <ion-item >
          <ion-label>Correo:</ion-label>
          <ion-note style="color: white; font-weight: bold;">{{ correo }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
