<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="userData">
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar>
        <img src="assets/img/user.png">
      </ion-avatar>
      <ion-list>
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-note>{{ usuario }}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Correo:</ion-label>
          <ion-note>{{ correo }}</ion-note>
        </ion-item>
        <!-- Otros detalles del usuario -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
