<!-- <ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Página Iconos</ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<app-encabezado titulo="Escaneo QR"></app-encabezado>

<ion-content class="custom-background ion-padding"  style="--background: url('/assets/img/qrfondo.jpg') no-repeat center center / cover;">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-button (click)="scan()" expand="full" style="--background: #078C03; --color: white;">Escanear QR</ion-button>
  <br>
  <ion-alert
    trigger="present-alert"
    header="Listo!"
    message="Escaneado correctamente"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>
