<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      Asistencia Duoc
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding" (click)="onClick('profile')"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Registrar Asistencia QR - Solo para roles de 'alumno' -->
  <ion-button (click)="onClick('pagina1')" expand="full" color="tertiary" *ngIf="rol === 'alumno'">
    <ion-icon name="qr-code-outline"></ion-icon> Registrar Asistencia QR
  </ion-button>
  <br>
  <!-- Generar Qr Asistencia - Solo para roles de 'profesor' -->
  <ion-button (click)="onClick('pagina2')" expand="full" color="tertiary" *ngIf="rol === 'profesor'">
    <ion-icon name="barcode-outline"></ion-icon> Generar QR Asistencia
  </ion-button>
  <br>
  <!-- Asistencias - Solo para roles de 'alumno' -->
  <ion-button (click)="onClick('alertas')" expand="full" color="tertiary" *ngIf="rol === 'alumno'">
    <ion-icon name="checkmark-circle-outline"></ion-icon> Asistencias
  </ion-button>
  <br>
  <!-- Asistencias - Solo para roles de 'profesor' -->
  <ion-button (click)="onClick('asisprofe')" expand="full" color="tertiary" *ngIf="rol === 'profesor'">
    <ion-icon name="clipboard-outline"></ion-icon> Asistencias
  </ion-button>
  <br>
  <!-- Desconectarse -->
  <ion-button (click)="logout()" expand="full" color="danger">
    <ion-icon name="log-out-outline"></ion-icon> Desconectarse
  </ion-button>

</ion-content>


