<ion-header>
  <ion-toolbar color="dark" >
    <ion-title>
      Asistencia Duoc
    </ion-title>
    <ion-icon slot="end" name="person" size="large" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <br>
  
 <!--  <ion-text color="tertiary" routerLink="/pagina1">
    <h4>Página 1</h4>
  </ion-text>  -->
  <ion-button (click)="onClick('pagina1')" expand="full" color="tertiary" *ngIf="mostrarBotonRegistrarAsis">
    Registrar Asistencia QR
  </ion-button>
  <br>

  <ion-button (click)="onClick('pagina2')" expand="full" color="tertiary" *ngIf="mostrarBotonGenerarCurso">
    Generar Qr Asistencia
  </ion-button>
  <br>
 
  <ion-button (click)="onClick('alertas')" expand="full" color="tertiary" *ngIf="mostrarBotonRegistrarAsis">
    Asistencias
  </ion-button>
  <br>
  <ion-button (click)="onClick('asisprofe')" expand="full" color="tertiary" *ngIf="mostrarBotonGenerarCurso"> 
    Asistencias
  </ion-button>
  <br>

  <ion-button (click)="onClick('formulario')" expand="full" color="danger">
    Desconectarse
  </ion-button>
  <br>

</ion-content>
