<ion-header>
  <ion-toolbar color="light" class="ion-padding">
    <img src="assets/img/registrapp.png" alt="Logo" class="logo-img" >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="--background: url('/assets/img/formfondo.jpg') no-repeat center center / cover;">
  <div class="login-container">
    <h3 class="login-title" style="color: #0DF205;">Iniciar Sesión</h3>

    <form #miFormulario="ngForm" (ngSubmit)="onSubmit()" class="login-form">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating" style="color: #0DF205;">E-mail</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="usuario.username" required style="--background: transparent;"></ion-input>
      </ion-item>
    
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating"style="color: #0DF205;">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="usuario.password" required style="--background: transparent;"></ion-input>
      </ion-item>
    
      <ion-button expand="full" type="submit" [disabled]="miFormulario.invalid" class="login-button" style="--background: #078C03;">
        Iniciar Sesión
      </ion-button>
    </form>
    

    <div class="login-links">
      <a (click)="onClick('olvideclave')" style="color: #0DF205;">¿Olvidaste tu contraseña?</a>
      <br>
      <br>
      <a (click)="onClick('registrarse')" style="color: #0DF205;">Registrarse</a>
    </div>
    <p>1.3.7</p>
  </div>
</ion-content>
